{% extends 'blog/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ username }} blog</title>
</head>
<body>
<h1>Blog użytkownika: {{ username }}</h1>
{%  if posts %}
{% for post in posts %}
<h3><a href="/post/{{ post.id }}"> {{ post.tytul }}</a> </h3>
<p>{{ post.data }}</p>
{% endfor %}
{% endif %}
</body>
{% endblock %}


{% block left %}
 <ul>
        <li>
            <a href="/">
                <p>Strona główna</p>
            </a>
        </li>
        <li>
            <a href="/user/{{ users.username }}">
                <p>Profil użytkownika {{ users.username }}</p>
            </a>
        </li>

    </ul>
{% endblock %}

