{% extends 'blog/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Blog użytkownika: {{ author.username }}</title>
</head>
<body>
<h1>Blog użytkownika: {{ author.username }}</h1>
<section style="font-size: 2em">
{%  if posts %}
{% for post in posts %}
<h3><a href="/post/{{ post.id }}"> {{ post.tytul }}</a> </h3>
<p>{{ post.data }}</p>
{% endfor %}
{% endif %}
</body>
{% endblock %}
</section>

{% block left %}
 <ul>
        <li>
            <a href="/">
                <h3> <p>Strona główna</p></h3>

            </a>
        </li>
        <li>
            <a href="/user/{{ user.username }}">
               <h3><p>Profil użytkownika {{ user.username }}</p></h3>
            </a>
        </li>

         <li>
            <a href="/post/new">
                <h3><p>Dodaj post</p></h3>
            </a>
        </li>
    </ul>
{% endblock %}
{% block right %}
    {% if user.is_authenticated %}
<ul>
     <li>
         <h3><a href="/accounts/logout">
            <p>Wyloguj</p></a></h3>

    </li></ul>
    {% endif %}
{% endblock %}

