{% extends 'blog/base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Strona glowna</title>
</head>
<body>

</body>
{% endblock %}

{% block left %}
<ul>
    {% if not user.is_authenticated %}
    <li>
            <a href="/register">
                <p>Zarejestruj się</p>
            </a>
        </li>
        <li>
            <a href="/accounts/login">
                <p>Zaloguj się</p>
            </a>
        </li>
    {% else %}
    <li>
        <a href="/accounts/logout">
            <p>Wyloguj</p></a>
    </li>
    {% endif %}
    </ul>
{% endblock %}
