{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<head>
 <link href="/static/fontawesome/fontawesome-all.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Strona glowna</title>

</head>
<body>

 <div style="margin-left: 100px;">
        <h1>
            <p>Serwis blogowy</p>
            <p></p>
        </h1>
 </div>
    <div style="margin-left: 100px;">
        <img src="{% static "blog/Blogging.png" %}" alt="My image"/>
    </div>
    <div style="margin-left: 100px;">
        <h3>
           <p> Witaj!

               Aby otrzymać pełny dostęp do zarzadzania postami oraz swoim blogiem, musisz sie zarejestrowac </p>
               <p>lub jezeli posiadasz juz konto zalogowac sie.</p>
        </h3>
    </div>
</body>
{% endblock %}

{% block left %}
<ul>
    {% if not user.is_authenticated %}
    <li>
            <a href="/register">
                <h3><p>Zarejestruj się</p></h3>
            </a>
        </li>
        <li>
            <a href="/accounts/login">
               <h3> <p>Zaloguj się</p></h3>
            </a>
        </li>
    {% else %}


        <li>
            <a href="{% url 'profile' user.username %}">
                <h3><p>Pokaz swoj profil</p></h3>
            </a>
        </li>

    {% endif %}
    <li>
        <a href="/info">
        <h3><p>Info</p>
        </h3></a>
    </li>
    </ul>
{% endblock %}

{% block right %}
    {% if user.is_authenticated %}
<ul>
     <li>
        <a href="/accounts/logout">
            <h3><p>Wyloguj</p></h3></a>
     </li></ul>
    {% endif %}
{% endblock %}
