{% extends 'blog/base.html' %}

{% block content %}
<head>
    <title>{{ post.tytul }}</title>
</head>
<body>
<h1> Tytuł: {{ post.tytul }}</h1>
<h2> Autor: {{ post.autor }}</h2>
<h3> {{ post.tresc }}</h3>
<h4> {{ post.data }}</h4>
</body>
{% endblock %}

{% block left %}
    <ul>
        <li>
            <a href="/">
                <p>Strona główna</p>
            </a>
        </li>
        <li>
            <a href="/blog/{{ post.autor.username }}">
                <p>Blog użytkownika {{ post.autor.username }}</p>
            </a>
        </li>

    </ul>
{% endblock %}
