{% extends 'blog/base.html' %}

{% block content %}
<head>
    <title>{{ user.username }}</title>
</head>
<body>

<script>
    {% if okienko %}
    alert('{{ okienko }}');
    {% endif %}
</script>

<h1> Profil użytkownika: {{ user.username }}</h1>
    <section>
        <p> Imię: {{ user.first_name }}</p>
        <p> Nazwisko: {{ user.last_name }}</p>
        <p> e-mail: {{ user.email }}</p>
    </section>
</body>
{% endblock %}

{% block left %}
 <ul>
        <li>
            <a href="/">
                <p>Strona główna</p>
            </a>
        </li>
        <li>
            <a href="/blog/{{ user.username }}">
                <p>Blog użytkownika {{ user.username }}</p>
            </a>
        </li>

    </ul>
{% endblock %}

