{% extends 'blog/base.html' %}

{% block content %}
<head>
    <title>{{ user.username }}</title>
</head>
<body>

<script>
    {% if okienko %}
    alert('{{ okienko }}');
    {% endif %}
</script>

<h1> Profil użytkownika: {{ user.username }}</h1>
    <section style="font-size: 3em">
        <p> Imię: {{ user.first_name }}</p>
        <p> Nazwisko: {{ user.last_name }}</p>
        <p> e-mail: {{ user.email }}</p>
    </section>
</body>
{% endblock %}

{% block left %}
 <ul>
        <li>
            <a href="/">
                <h3><p>Strona główna</p></h3>
            </a>
        </li>
        <li>
            <a href="/blog/{{ user.username }}">
                <h3><p>Blog użytkownika {{ user.username }}</p></h3>
            </a>
        </li>

    </ul>
{% endblock %}
{% block right %}
    {% if user.is_authenticated %}
<ul>
     <li>
        <a href="/accounts/logout">
            <h3> <p>Wyloguj</p></h3>
        </a>

    </li></ul>
    {% endif %}
{% endblock %}

